* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: black;
    transition: 1s;
}


ul,
ol {
    list-style: none;
}

img {
    width: 100%;
    vertical-align: bottom;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: papayawhip;

}

.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


/*END RESET*/

/*Header*/

h1 {
    font-size: 2rem;
    color: whitesmoke;
}

#nav_burger {
    background-color: #f7ce91;
    padding: 3rem;
    width: 100%;
    -webkit-box-shadow: 5px 5px 15px 5px rgb(109, 58, 11);
    box-shadow: 5px 5px 15px 5px rgb(196, 153, 114);
    position: fixed;
}

nav ul {
    display: flex;
    justify-content: right;
    width: 100%;
    font-size: 2rem;
    gap: 1rem;
    color: whitesmoke;
}

#nav_burger .wrap {
    display: flex;
}

#icons {
    cursor: pointer;
    display: none;
}

/*Profil*/

#profil {
    padding: 10rem;
}

.infos_profil img {
    border-radius: 10px;
}

.infos_profil {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0 0;
}

.text_profil p {
    font-weight: bold;
}

.text_profil a {
    display: flex;
    align-items: center;
    background-color: #f7ce91;
    flex-direction: column;
    margin: 3rem 0;
    font-size: 4rem;
    transition: none;
    color: whitesmoke;
    border-radius: 10px;
}

.text_profil a:hover {
    transition: 2s;
    color: black;
}

/*H2, titre*/
h2 {
    display: flex;
    justify-content: center;
    margin: 1rem;
    background-color: wheat;
    color: black;
    padding: 1rem;
    border-radius: 20px;
}

/*Experience*/

.infos_experience p {
    display: flex;
    justify-content: center;
    padding: 2rem;
    font-weight: bold;
}

/*Separator*/
.separator {
    background-color: #f0be74;
    width: 100%;
    height: 5rem;
}

/*Services*/

#services {
    margin: 2rem 0;
}

.infos_services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-weight: bold;
}



.infos_services a {
    background-color: #ad9064;
    border-radius: 5px;
    width: 30%;
    justify-content: center;
    display: flex;
    padding: 1rem;
}

/*Contact*/
#contact {
    padding: 2rem;
    margin: 0 0 2rem;
}

.infos_contact a {
    color: whitesmoke;
    background-color: #ad9064;
    width: 50%;
    justify-content: center;
    display: flex;
    margin: 2px;
    padding: 2rem;
    border-radius: 10px;
    font-weight: bold
}

.infos_contact p {
    font-weight: bold;
}

.infos_contact .mail:hover {
    color: black;
    transition: 2s;
}

.infos_contact .linkedin:hover {
    color: black;
    transition: 2s;
}

.infos_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}




/*Footer*/
#footer {
    background-color: #f7ce91;
    width: 100%;
    height: 100%;
    padding: 1rem;
    -webkit-box-shadow: 5px 5px 15px 5px rgb(109, 58, 11);
    box-shadow: 5px 5px 15px 5px rgb(196, 153, 114);
}

#footer .wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    font-size: 1.3rem;
    font-style: italic;
}

#footer a {
    padding: .5rem;
    color: whitesmoke;
}

#footer a:hover {
    background: navajowhite;
    transition: 1s;
    border-radius: 20px;
    color: black;
}


/*RESPONSIVE*/
/*Menu Burger*/
@media (max-width: 950px) {

    #icons {
        display: block;
    }

    #icons:before {
        content: "\2630";
        position: absolute;
        top: 50px;
        right: 50px;
        font-size: 2rem;
        color: whitesmoke;
    }

    .active #icons:before {
        content: "\2715";
    }

    #nav_burger a:hover {
        color: black;
    }

    nav ul {
        position: fixed;
        left: -100%;
        top: 5%;
        flex-direction: column;
        background: wheat;
        width: 100%;
        text-align: center;
        transition: 0.25s;
    }

    nav li {
        padding: 3px 0;
    }

    nav li:hover {
        background: #ad9064;
        transition: 1s;
    }

    nav.active ul {
        left: 0;
    }
}

/*Profil*/
@media (max-width: 950px) {
    .infos_profil {
        display: flex;
        justify-content: center;
    }

    .infos_profil img {
        width: 5rem;
    }

    .infos_profil a {
        font-size: 1.5rem;
    }

    .text_profil h2 {
        font-size: 2rem;
    }
}

/*Experience*/
@media (max-width: 950px) {
    .infos_experience p {
        display: flex;
        flex-direction: column;
    }
}

/*Services*/
@media (max-width: 1140px) {
    .infos_services {
        display: flex;
        flex-direction: column;
    }

    .infos_services a {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

/*Contact*/

@media (max-width: 950px) {
    .infos_contact a {
        width: 100%;
    }
}